 /* Floating toolbar */
 #floating-toolbar {
     position: fixed;
     z-index: 10001;
     opacity: 0;
     visibility: hidden;
     transform: scale(0.9);
     transition: all 0.2s ease;
     pointer-events: none;
     background-color: hsl(0, 0%, 12%);
     border-radius: 2.25em;
     display: flex;
     flex-wrap: wrap;
     gap: 0.25em;
     padding: 0em 0.25em;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
 }

 #floating-toolbar.visible {
     opacity: 1;
     visibility: visible;
     transform: scale(1);
     pointer-events: all;
 }

 /* Buttons and selects */
 #floating-toolbar button,
 #floating-toolbar select {
     background-color: transparent;
     border: none;
     border-radius: 0.5em;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 2.25em;
     height: 1.25em;
     transition: background-color 0.2s, transform 0.1s;
     color: #d3d3d3;
     font-size: 0.9em;
 }

 #floating-toolbar select {
     padding: 0 0.5em;
     width: auto;
     height: 1.25em;
     background: #2a2a2a;
     color: #d3d3d3;
 }


 #floating-toolbar select:hover {
     color: #b3afaf;
 }

 #floating-toolbar button:hover {
     background-color: rgba(255, 255, 255, 0.15);
     color: #fff;
     transform: scale(1.05);
 }

 #floating-toolbar button:active {
     transform: scale(0.95);
 }

 /* Active button state */
 #floating-toolbar .active {
     background-color: rgba(144, 146, 144, 0.433) !important;
 }

 /* Color picker */
 .color-picker {
     width: 2em;
     height: 1.6em;
     padding: 0;
     border: none;
     border-radius: 0.5em;
     cursor: pointer;
     background: transparent;
 }

 .color-picker::-webkit-color-swatch {
     border: 1px solid #424242;
     border-radius: 0.4em;
 }

 .note ol,
 .note ul {
     padding-left: 20px;
     margin: 5px 0;
 }

 .note li {
     margin: 2px 0;
 }

 /* Restore default list markers for notes */
 .note ol {
     list-style-type: decimal;
     padding-left: 1.5rem;
     /* indentation for numbers */
     margin: 0.5rem 0;
 }

 .note ul {
     list-style-type: disc;
     padding-left: 1.5rem;
     /* indentation for bullets */
     margin: 0.5rem 0;
 }

 .note li {
     margin: 0.25rem 0;
 }

 .toolbar-separator {
     width: 1px;
     height: 20px;
     background: rgba(255, 255, 255, 0.2);
     margin: 0 4px;
 }